main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: space-around;
    overflow: hidden;
}

.wrapper-profile-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: space-around;
    overflow: hidden;
}

.wrapper-profile-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.wrapper-profile-card .title-profile {
    grid-column: 1 / -1;
    background-color: #ccc;
    color: black;
    justify-self: center;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    height: 65px;
}

.wrapper-profile-card .wrapper-img {
    justify-self: center;
}

.wrapper-profile-card .description-title-profile {
    margin-bottom: 0;
}

.wrapper-profile-card .wrapper-description-tags-date {
    justify-self: start;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper-profile-card p.description-text-profile {
    text-align: justify;
    font-size: 13x;
}

.wrapper-profile-card .date-profile {
    margin-top: 20px;
    font-size: 14px;
}

.wrapper-profile-card .date-profile i{
    margin-right: 5px;
    color: grey;
}

.wrapper-profile-card .tags-profile {
    list-style-type: none;
    display: inline-block;
    justify-self: start;
    padding: 0;
    margin: 0;
}

.wrapper-profile-card .tags-profile .tag-profile {
    float: left;
    padding: 10px 12px 10px 12px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: var(--AccentColorLighten);
    border-radius: 4px;
    opacity: .8;
    transition: .5s;
    cursor: pointer;
}
.wrapper-profile-card .tags-profile .tag-profile:hover {
    opacity: 1;
}

.start-sorted-tags {
    padding: 10px 12px;
    margin: auto;
    margin-top: 30px;
    background-color: var(--AccentColorLighten);
    opacity: 0.7;
    border: solid 2px black;
    border-radius: 4px;
    color: black;
    width: 40%;
    font: bold 100% "century gothic", arial, sans-serif;
}

.remove-card-btn {
    padding: 5px;
    color: grey;
    width: 14px;
    height: 14px;
    float: right;
    cursor: pointer;
}

.remove-card-btn:hover {
    color: red;
}